<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acompanhamento</title>
    <link rel="stylesheet" href="./acompanhamento.component.css">

</head>
<body>

    <div class="timeline">

        <div class="container left-container">
            <img src="../assets/img/exame-de-saude.png" alt="">
            <div class="text-box">
                <h2>Registro Médico </h2>
                <small>CRF: SP568243</small><br>
                <small>30/06/2023</small>
                <p>ACEITO</p>
                <span class="left-container-arow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="../assets/img/farmacia.png" alt="">
            <div class="text-box">
                <h2>Registro Fármacia </h2>
                <small>CRF:0698547</small><br>
                <small>30/06/2023</small>
                <p>ACEITO</p>
                <span class="right-container-arow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="../assets/img/compras-online.png" alt="">
            <div class="text-box">
                <h2>Separando Pedido</h2>
                <small>30/06/2023</small>
                <p>Pedido encontrado</p>
                <span class="left-container-arow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="../assets/img/sacola.png" alt="">
            <div class="text-box">
                <h2>Empacotado</h2>
                <small>30/06/2023</small>
                <p>Entregue ao entregador</p>
                <span class="right-container-arow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="../assets/img/caminhao-de-entrega.png" alt="">
            <div class="text-box">
                <h2>PEDIDO ENVIADO</h2>
                <small>30/06/2023</small>
                <p>Seu pedido chegou!</p>
                <span class="left-container-arow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="../assets/img/casa-limpa.png" alt="">
            <div class="text-box">
                <h2>PEDIDO ENTREGUE</h2>
                <small>30/06/2023</small>
                <p>Obrigada!</p>
                <span class="right-container-arow"></span>
            </div>
        </div>

    </div>
    <app-map></app-map>
</body>
</html>

