/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    background: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0,0,0,0.4);
}
nav ul li{
    list-style:none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index:2;
    transition: color 0.5s;
}

nav ul li::after{
    content: '';
    background: #f44566;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}

nav ul li:hover{
    color: #fff;
}

nav ul li:hover::after{
    top: 50%;
    opacity: 1;
} */

.main{
    width: 100%;
    display:flex;
}

.main .left {
    padding-top: 50px;
    padding-left: 80px;
    text-align: center;
    line-height: 1.6;
}

.main .left h2{
    padding-top: 26%;
    font-size: 15px;
    text-transform: capitalize;
    color: #CB6CE6;
    
}

.main .left h1 {
    font-size: 42px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 15px 0;
}

.main.left p{
    margin-bottom: 20px;
    font-size: 15px;
    color: aliceblue;
}

.main .left button{
    padding-top: 12px;
    padding: 15px 45px;
    text-align: center;
    font-size: 14px;
    color:#fff;
    border: 1px solid;
    box-shadow: #CB6CE6;
    background-image: linear-gradient(to right, #657DEB,#8C52FF,#CB6CE6);
    border-radius: 10px;
}

.main .right img{
    padding-top: 15%;
    width: 90%;
    height: 113%;
    display: flex;
}