<!-- <div class="container">
    <nav>
        <ul>
            <li>home</li>
            <li>home</li>
            <li>home</li>
            <li>home</li>
            <li>home</li>
            <li>home</li>
            <li>home</li>
        </ul>
    </nav>

</div> -->

<section class="main">
    
    <div class="left">
        <h2> O Melhor Jeito Fármacia de Ser</h2>
        <h1> Aquela que Cuida de Você</h1>
        <p>  Em um click seu rémedio chegou primeiro que você</p>
        <button routerLink="/tipo/cadastro"> Faça seu cadastro</button>

    </div>
    <div class="right">
        <img src="../assets/img/w1.png">
    </div>

</section>
<app-card></app-card>
