<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
      <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
        style="background:#657DEB">
        <div class="featured-image mb-3 mt-5">
          <img src="../../../assets/medical_background_doctor_icon_circle_design_6830322.webp" class="img-fluid"
            style=" width:400px;" alt="">
        </div>
        <p class="text-white fs-2" style="font-weight:700;">Faça seu Login</p>
      </div>
      <div class="col-md-6 right-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">

            <h2>Faça seu login</h2>
          </div>

          <form [formGroup]="form" (ngSubmit)="login()">
          <div class="input-group mb-3">
            <input type="email" formControlName="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email">
          </div>
          <div class="input-group mb-1">
            <input       type="password" formControlName="senha" class="form-control form-control-lg bg-light fs-6" placeholder="Senha">
          </div>
          <div class="input-group mb-5 d-flex justify-content-between">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="formCheck">
              <label for="formCheck" class="form-check-label text-secondary"><small>Lembrar sempre</small></label>
            </div>
          </div>
          <div #divRecaptcha id="recaptcha"></div>
          <div class="input-group mb-3">
            <button [disabled]="form.invalid" type="submit" class="btn btn-lg  w-100 fs-6" style="background:#657DEB; color:white">Login</button>
          </div>
        </form>
          <div class="input-group mb-3">
            <button class="btn btn-lg btn-light w-100 fs-6"><img src="./../../../assets/google.png" style="width: 30px"
                class="me-2"><small>Entre com o Google</small></button>
          </div>

        </div>

      </div>
    </div>
  </div>
</body>

