<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Cards</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="card.component.css">
</head>
<body>
    <main class="cards">
        <section class="card contact">
            <div class="icon">
                <img src="../assets/img/contate-me.png" alt="Contato">
            </div>
            <h3>Contatos.</h3>
            <span>Conhece nossos meios de comunicação com o cliente.</span>
            <button>Saiba Mais</button>
        </section>
        <section class="card shop">
            <div class="icon">
                <img src="../assets/img/medicina-natural.png" alt="Shop here.">
            </div>
            <h3>Fármacias de Manipulação.</h3>
            <span>Conheça fármacias parceiras e ganhe descontos na manipulação da sua receita.</span>
            <button>Saiba mais</button>
        </section>
        <section class="card about">
            <div class="icon">
                <img src="../assets/icons/farmacia-on-line.png" alt="Sobre Nós">
            </div>
            <h3>Sobre nós.</h3>
            <span>Venha conhecer um pouco da nossa historia e propósito.</span>
            <button>Saiba mais</button>
        </section>
    </main>
</body>
</html>
