<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./tipo-cadastro.component.css" rel="stylesheet">
    <title>Tipo de Cadastro</title>
</head>
  <body>
 

    <main>
        <aside>
           <h2>Escolha sua <span>Categoria</span></h2>
           <br>
           <br>
           <br>
           <br>
           <br>
                
            

        <form>
            
            <input type="submit" value="Médico>"  routerLink="/cadastro/medico"> 
            <br>
            <input type="submit" value="Fármacia >"  routerLink="/cadastro/farmacia"> 
            <br>
            <input type="submit" value="Cliente >"  routerLink="/cadastro/cliente"> 
            <br>         
        </form>
    </aside>
    <article>
        <img src="../assets/img/imgTipoCadastro.png" alt="minion">
    </article>
    </main>
    
</body>
</html>
